name: Go Checks

on:
  push:
    branches: [ "main" ]

permissions: {}

jobs:

  codecov:
    name: Push to main test
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pages: write
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false

    - name: Set up Go
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
      with:
        go-version-file: 'go.mod'

    - name: Test
      run: go test ./...

    - name: Update coverage report
      uses: ncruces/go-coverage-report@aa507d98fb11c2b4dffa1b731e0786f50fd8ec93 # v0.3.1
      with:
        report: true
        chart: true
        amend: true
      if: github.event_name == 'push'
      continue-on-error: true
